
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 144 11% 94%; /* #EEF3F0 */
    --foreground: 136 38% 10%;
    --card: 0 0% 100%;
    --card-foreground: 136 38% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 136 38% 10%;
    --primary: 136 38% 29%; /* #2E663D */
    --primary-foreground: 0 0% 98%;
    --secondary: 100 42% 39%; /* #558C39 */
    --secondary-foreground: 0 0% 98%;
    --muted: 144 11% 85%;
    --muted-foreground: 136 10% 40%;
    --accent: 100 42% 94%;
    --accent-foreground: 100 42% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 144 11% 85%;
    --input: 144 11% 85%;
    --ring: 136 38% 29%;
    --radius: 0.75rem;
    --sidebar-background: 136 38% 29%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 100 42% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 136 38% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 136 38% 25%;
    --sidebar-ring: 100 42% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold;
  }
}
